<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$web_title}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PLUGIN__/layui/css/layui.css"  media="all">
<style>
	body {
		/*background:rgba(57,61,73,.2);*/
	}
	a:hover {
		color: black;
	}
	#lunbo img {
		width:100%;
	    /*margin:auto;*/
	}


	.layui-nav-item {
		float: right;
	}

</style>
</head>
<body>

{include file="common/header" /}

<div class="layui-container" style="width: 1160px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;margin-top: 80px;padding-top: 20px;padding-bottom: 15px;overflow: hidden;">


<ul class="list clearfix list-paddingleft-2" style="list-style-type: none;">
    <li>
        <p style="text-align: center;">
            <span style="font-size: 36px;"><strong>学科资源</strong></span><br/>
        </p>
    </li>
    <br>
<style>
    .content-main li{
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>
<div class="content-main">
    <ul class="list clearfix list-paddingleft-2" style="list-style-type: none;">
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-1-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031783051.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">语文</span></a>
        </p>
        <p>
            <a href="http://www.xuekeedu.com/channel-2-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031320213.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">数学</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-3-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031150077.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">英语</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-8-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031907972.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">品德</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-5-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031712673.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">科学</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-9-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031718226.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">信息技术</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-6-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685031450437.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">美术</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/channel-7-10000-0-0-0-0-0-all-zj.html" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685032814648.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">音乐</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://www.xuekeedu.com/zthz/#" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685032236699.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">体育</span></a>
        </p>
    </li>
    <li>
        <p>
            <a href="http://xxzj.xkw.com/" target="_blank" style="text-decoration-line: none; color: rgb(51, 51, 51); display: block; width: 184px; height: 69px; border-radius: 3px; padding: 26px 0px 26px 30px;"><img src="/ueditor/php/upload/image/20180310/1520685032373158.png" alt=""/>&nbsp;<span class="text" style="font-size: 20px; line-height: 69px; display: inline-block; vertical-align: middle; width: 110px; text-align: center; cursor: pointer;">在线组卷</span></a>
        </p>
    </li>
</ul>
<p>
    <span class="text" style="position: absolute; left: 5px; z-index: 2; padding-right: 10px; display: inline-block; line-height: 20px; min-width: 90px;"></span>
</p>
</div>
</ul>

</div>

{include file="common/footer" /}
<div style="margin-bottom: 100px;"></div>
<script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
<script src="__PLUGIN__/layui/layui.js" charset="utf-8"></script>
<script>
	layui.use(['carousel', 'form', 'element', 'layer', 'table', 'flow'], function(){
  		var carousel = layui.carousel
  			,form = layui.form
  			,table = layui.table
  			,flow = layui.flow
  			,element = layui.element
  			,layer = layui.layer
  			;

  		form.on('submit(sub-btn)', function(data){
			console.log(data.field);
			$.post("{:url('index/meg/index')}", data.field, function(result){
	            if(result.status == 0) {  // 成功
	                layer.msg(result.message);
	                return;
	            } else {
	                layer.msg(result.message);
	            }
	        },"JSON");
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>

</body>
</html>
